<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Autism Ally{% endblock %}</title>
    <link rel="icon" type="Image/png" href="/static/images/aut.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% include 'sidebar.html' %}
        <div class="dashboard-container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>

