<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autism Ally</title>
    <link rel="icon" type="Image/png" href="/static/images/aut.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
	<!--div class="logo">Autism Ally</div-->
		<nav>
			<ul>
				<li><a href="#hero">Home</a></li>
				<li><a href="/about">About</a></li>
				<li class="dropdown">
                    <a href="#features" class="dropbtn">Features</a>
                    <div class="dropdown-content">
                        <a href="/information">Information</a>
                        <a href="#features">Resources</a>
                        <a href="#features">Community</a>
                        <a href="/stories">Stories</a>
                    </div>
                </li>
				<li><a href="#contact">Contact</a></li>
                <li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</nav>
    </header>
    <!-- Hero Section -->
    <section id="hero" style="background-image: url('{{ url_for('static', filename='images/hero-background.jpg') }}')">
		<div class="hero-content">
			<h1>Autism Ally</h1>
			<p>Empowering and supporting the autism community in Africa.</p>
		</div>
    </section>

    <!-- About Section -->
    <section id="about">
		<div class="about-content">
			<div class="image">
                <img src="{{ url_for('static', filename='images/embrace.jpg') }}" alt="About Autism Ally">
            </div>
			<div class="text">
        		<h2>About Us</h2>
				<p>Autism Ally is dedicated to dispelling myths and providing support for people with autism and their families in Africa. We also want to raise awareness and acceptance of autism, eradicating social descrimination towards people with autism. That is the best way even anyone with the spectrum can get the love and support they need.</p>
				<a href="{{ url_for('about') }}">Read More</a>
			</div>
		</div>
    </section>

    <!-- Features Section -->
    <section id="features">
    <div class="feature" id="info">
        <div class="feature-background"></div>
        <div class="feature-content">
            <h3>Information</h3>
            <p>Get accurate information about autism.</p>
			<a href="{{ url_for('information') }}">Read More</a>
        </div>
    </div>
    <div class="feature" id="resources">
        <div class="feature-background"></div>
        <div class="feature-content">
            <h3>Resources</h3>
            <p><a href="/signup">Sign up</a> find special centers and services near you.</p>
        </div>
    </div>
    <div class="feature" id="community">
        <div class="feature-background"></div>
        <div class="feature-content">
            <h3>Community Support</h3>
            <p><a href="/signup">Join</a> support groups and connect with others.</p>
        </div>
    </div>
    <div class="feature" id="stories">
        <div class="feature-background"></div>
        <div class="feature-content">
            <h3>Success Stories</h3>
            <p>Read inspiring stories of famous figures who are diagnosed with the spectrum. It is not a disability but a different ability.</p>
			 <a href="{{ url_for('stories') }}">Read More</a>
        </div>
    </div>
	</section>


    <!-- Footer -->
    <footer>
	<p>Contact us at <a href="mailto:info@autismally.org">info@autismally.org</a></p>
	<p>Follow us on 
	<a href="#">Facebook</a>, 
	<a href="#">Twitter</a>, 
	<a href="#">Instagram</a>
	</p>
	<p>&copy; 2024 Autism Ally. All rights reserved.</p>
    </footer>
</body>
</html>
