{% extends "base.html" %}

{% block title %}My Posts{% endblock %}

{% block content %}
<h1>My Posts</h1>
<div class="main-content">
    <section id="posts">
        {% for post in posts %}
        <div class="post">
            <h5>{{ post.title }} : {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</h5>
            <p>{{ post.content }}</p>
            <button class="delete-button" onclick="deletePost({{ post.id }})">Delete</button>
            <div class="comments-section">
                <button class="toggle-comments">Comments</button>
                <div class="comments" style="display: none;">
                    {% for comment in post.comments %}
                    <div class="comment">
                        <p class="comment-content">{{ comment.user.username }}: {{ comment.content }}</p>
                    </div>
                    {% endfor %}
                    <textarea id="comment-{{ post.id }}" class="comment-textarea" placeholder="Add a comment"></textarea>
                    <button class="comment-button" onclick="addComment({{ post.id }})">Comment</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}

