<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>My Post</title>
                <link rel="stylesheet" href="static/css/styles.css">
                <link rel="icon" type="Image/png" href="/static/images/icon.png" />
        </head>
	<body>
        <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('update_profile') }}">Profile</a></li>
        </ul>
    </nav>
        <div id="content">
        <h2>My Posts</h2>
                {% for post in posts %}
        			<div class="post">
            		<h3>{{ post.title }}</h3>
            		<p>{{ post.content }}</p>
        			</div>
    			{% endfor %}
        </div>
	</body>
</html>
