<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts - Autism Ally</title>
    <link rel="icon" type="Image/png" href="/static/images/aut.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<!--link rel="stylesheet" href="{{ url_for('static', filename='css/my_resources.css') }}"-->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% include 'sidebar.html' %}
        <div class="dashboard-container">
            <h1>My Resources</h1>
            <div class="main-content">
                <section id="resources">
                    {% for resource in resources %}
                        <div class="resource">
                            <h3>{{ resource.name }}</h3>
                            <p>{{ resource.address }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</body>
</html>
