<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ user.username }}'s Profile - Autism Ally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="icon" type="Image/png" href="/static/images/aut.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
	<div class="container">
    <header>
        <p>Autism Ally</p>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="profile-container">
        <h3>{{ user.username }}</h3>
        <div class="profile-info">
            <img class="profile-picture"  src="{{ url_for('static', filename='profile_pics/' + user.image_file) if user.image_file != 'default.jpg' else url_for('static', filename='images/default.jpg') }}" alt="Profile Picture">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.city }}</p>
            <a href="/profile/update" class="btn">Update Profile</a>
        </div>
    </main>
	</div>
</body>
</html>

