<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Figures with Autism</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/aut.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/information">Information</a></li>
                <li><a href="/stories">Stories</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="stories">
        <h1>Famous Figures with Autism</h1>
		<p>People can have have different traits of autism. What's important to know is that people with autism have their unique strengths and abilities. Many famous people have used their unique strengths and have achieved success and accomplished amazing things. Below is a list of a few. </p>

        <ol>
            <li>
                <h2>Elon Musk – Entrepreneur</h2>
                <p>Elon Musk announced that he was on the autism spectrum while hosting the show, “Saturday Night Live,” in May 2021. More specifically, he stated that he was “the first person with Asperger’s” to host the show. Musk is one of the world’s richest people with a net worth of more than $150 billion.</p>
            </li>

            <li>
                <h2>Daryl Hannah – Actress & Environmental Activist</h2>
                <p>Daryl Hannah is known for her roles in films such as Splash, Blade Runner, and Steel Magnolias. She received an autism diagnosis as a child. She was extremely shy around other people and continued to be very fearful of the spotlight as an adult. One of her special interests was watching movies which supported her career as an actress.</p>
            </li>

            <li>
                <h2>Anthony Hopkins – Actor</h2>
                <p>Anthony Hopkins is an award-winning actor. He was diagnosed with Asperger’s Syndrome as a child. Some of his traits of ASD include obsessive thinking, difficulty maintaining friendships, and looking at people with a unique perspective.</p>
            </li>

            <li>
                <h2>Henry Cavendish – Scientist</h2>
                <p>Henry Cavendish, born in 1731 and passed away in 1810, is renowned for discovering hydrogen. Traits of ASD experienced by Cavendish included avoiding company and difficulty with eye contact. He communicated with his servants in writing and had specific routines to manage his social interactions.</p>
            </li>

            <li>
                <h2>Bill Gates – Co-founder of Microsoft Corporation</h2>
                <p>Bill Gates is thought to have autism. He displays traits such as a rocking motion, a monotoned speech pattern, and avoidance of eye contact with others.</p>
            </li>

            <li>
                <h2>Dr. Vernon Smith – Professor</h2>
                <p>Dr. Vernon Smith is a professor of economics and a Nobel Prize winner known for his contributions to experimental economics. He attributes some of his success to his ASD, which allows him to approach problems in unique ways.</p>
            </li>

            <li>
                <h2>Clay Marzo – Professional Surfer</h2>
                <p>Clay Marzo, a professional surfer from Hawaii, was diagnosed with autism as a child. He has achieved significant success in competitive surfing, winning numerous competitions.</p>
            </li>
        </ol>
    </section>

    <footer>
        <p>&copy; 2024 Autism Ally. All rights reserved.</p>
    </footer>
</body>
</html>

